html
    head  
        title Projeto lindo
    body
        h1 Edit Users Form
        form(action=`/edit/`, method="POST")
            input(type="text", value=user.name, name="userName", placeholder="Name")
            input(type="text", value=user.age, name="age", placeholder="Age")
            input(type="hidden", value=user._id, name="_id")
            button(type="submit") Submit
